[Desktop Entry]
Type=Application
Name=MyChrome
GenericName=MyChrome
Comment=A snap app for Chrome
Keywords=mychrome;
Exec=mychrome
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#F5F5F5
StartupNotify=true
